<!-- resume -->
<section style="margin-top: 0px;" class="page-section" id="{{ site.data.sitetext[site.locale].credssection | default: "creds" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].creds.title | default: "Certifications" }}</h2>
          {% if site.data.sitetext[site.locale].creds.text %}
		  
          <h3 style="margin-bottom: 10px;" class="section-subheading text-muted">{{ site.data.sitetext[site.locale].creds.text }}</h3>
		  {% endif %}
          <div data-iframe-width="300" data-iframe-height="400" data-share-badge-id="c558b832-51b0-4414-a395-448661f7e048" data-share-badge-host="https://www.credly.com"></div>
          <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
          <div data-iframe-width="300" data-iframe-height="400" data-share-badge-id="cd5ada5a-4358-46ea-a10c-2853fd5e3b14" data-share-badge-host="https://www.credly.com"></div>
          <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
          <div data-iframe-width="300" data-iframe-height="400" data-share-badge-id="babd2796-7e35-44fb-964c-fb1bf3207cff" data-share-badge-host="https://www.credly.com"></div>
          <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        </div>
      </div>
      
    </div>
  </section>